/* Reset some default browser styles */
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
​#about {
  margin-top: 400px;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px 0;
}

section h2 {
  margin-bottom: 20px;
}
.container > p {
  margin-left: 20px;
}

.portfolio-item {
  margin-bottom: 20px;
  margin-left: 20px;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
}

.portfolio-item > ul {
  margin-left: 20px;
}

h3,
#tech-stack {
  display: inline;
}

#tech-stack {
  font-size: medium;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
}

/* Add styles for the button */
button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 5px;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

#social-links {
  text-align: center;
}
#header {
  margin-top: 0px;
  background: #333;
  color: #fff;
  padding: 20px 0;
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
}

#header > h1 {
  margin: 0;
  font-size: 24px;
}

.header-container {
  margin: 0 auto;
  padding: 0 20px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  zoom: 1;
}
.info {
  float: left;
  margin-right: 400px;
}
.contact-header {
  float: right;
  margin-top: 10px;
}

form {
  margin-left: 20px;
}
